---
import Profile from '../Profile.astro';
import FormattedDate from '../FormattedDate.astro';
import { getCollection } from 'astro:content';
import Layout from '../../layouts/Layout.astro';
import UpcomingEvents from '../UpcomingEvents.astro';
import { extractSlugFromPath } from '../../utils/contents';
import { getRelativeLocaleUrl } from 'astro:i18n';

interface Props {
  title: string;
  recentPostsTitle: string;
}

const { title, recentPostsTitle } = Astro.props;
const currentLocale = Astro.currentLocale || 'it';

const posts = (await getCollection('blog'))
  .sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf())
  .filter((post) => post.data.lang === currentLocale)
  .slice(0, 3);
---

<Layout title={title} alternateUrls={{ en: '/en', it: '' }}>
  <div class="grid grid-cols-1 lg:grid-cols-12">
    <div class="lg:col-span-8">
      <slot />
    </div>

    <div class="lg:col-span-4 md:flex md:justify-end py-6 md:py-0">
      <Profile />
    </div>

    <div class="lg:col-span-8">
      <div class="space-y-8">
        <h2>{recentPostsTitle}</h2>
        <ul class="space-y-8">
          {
            posts.map((post) => (
              <li class="relative grid grid-cols-[120px_1fr] gap-6 items-start">
                <div class="text-sm">
                  <FormattedDate date={post.data.pubDate} />
                </div>

                <div class="space-y-2">
                  <a
                    href={getRelativeLocaleUrl(
                      currentLocale,
                      `/blog/${extractSlugFromPath(post.slug)}/`
                    )}
                    class="text-white hover:text-primary-hover transition"
                  >
                    <h3>{post.data.title}</h3>
                  </a>
                  <p>{post.data.description}</p>
                </div>
              </li>
            ))
          }
        </ul>
      </div>
    </div>

    <div class="lg:col-span-4 flex justify-end">
      <UpcomingEvents />
    </div>
  </div>
</Layout>
